<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Custom Paging Filter</h4>
                <div class="row">
                    <div class="col-12">
                        <!--
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Pages</label>
                            <div class="col-sm-1">
                                <input type="number" id="txtPages" class="form-control mb-3" placeholder="1" value="1" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Data Per Page</label>
                            <div class="col-sm-1">
                                <input type="number" id="txtPerPage" class="form-control mb-3" placeholder="10" value="10" />
                            </div>
                        </div>
                        <hr />
                        -->

                        <div class="table-responsive">
                            <table id="dataTable" class="table display" style="width:100%">
                        </div>
                        <thead>
                            <tr>
                            </tr>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Image</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        </table>
                        @*   <div id="customPagination">
                            <button id="prevBtn">Previous</button>
                            <button id="nextBtn">Next</button>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
