<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Custom Paging Filter</h4>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="dataTable" class="table display" style="width:100%">
                        </div>
                        <thead>
                            <tr>
                            </tr>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Image</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
