@model SportEvents.Domain.Models.User.UserGetByIdRequest

@{
    ViewData["Title"] = "User Page";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit a User</h4>
            <p class="card-description">
                User Info
            </p>
            <form class="forms-sample" asp-action="UpdateUser" method="post" id="mainForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label>First Name</label>
                    <input asp-for="FirstName" required type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input asp-for="LastName" required type="text" class="form-control" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="Email" required type="email" class="form-control" placeholder="Email">
                </div>

                <button type="submit" class="btn btn-success me-2">Update</button>
                <a asp-area="" asp-controller="Users" asp-action="Index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>